.nav-options{
    display: flex;
    justify-content:end;
    align-items: center;
    .navbar-nav {
        max-width: fit-content;
        justify-content: end;
        .nav-item {
            display: inline-block;
        }
    }
}

.profile {
    text-decoration: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 60rem;
}